* {
    box-sizing: border-box;
}


:root {
    --primary: rgb(58, 167, 142);
    --secondary: rgb(38, 38, 180);
    --light: (whitesmoke);

}

body {
    margin: 0;
    padding: 0;
    background-color: aliceblue;
    font-family: 'Arial Narrow Bold', sans-serif
  
}

header {
    background-color: var(--primary);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center; 
    padding: 15px 6% 15px 0;
}


 header img {
    max-width: 100px;
    max-height: 100px;
    border-radius: 90%;
 }
h1 {
    display: block;
    font-size: 40px;
    color: #444;
    padding: 0px;
    margin: 0px;
}

nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: flex-end;
    
}


nav a {
    color: var(--light);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    padding: 15px;
    margin-right: 10px;
    

}

nav a:hover {
    color: black;
    font-style: italic;
    font-weight: 600;

}

nav a::before {
    content: '';
    display: block;
    height: 5px;
    width: 100%;
    background-color: #444;
    position: absolute;
    top: 0;
    width: 0%;

}

.hero-banner {
    background: white;
    background-image:url(../assets/images/Cropped\ Hero\ Banner.jpg);
    background-size: cover;
    background-position: center;
    padding: 2% 6%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    text-align: right;
    min-height: 300px;
}

.hero-banner div {
    flex: 0 0 90%;
}

.hero-banner h2 {
    background-color: var(--primary);
    color: whitesmoke;
    margin: 0;
    padding: 5px 10px;
    font-size: 2rem;
    line-height: 1.2;
    display: inline;
}

main {
    margin-top: 20px;
    margin-bottom: 50px;
}

.page-section {
    margin: 25px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;

}

.page-section div {
    flex: 0 0 80%;
}

h2 {
    flex: 0 0 20%;
    text-align: left;
    padding-right: 20px;
    border-left: 4px solid;
    padding: 20px;
    font-size: 40px;
    display: block;
}

.flex-boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* flex-wrap: wrap; */
    /* justify-content: center; */
}


/* .flex-item {
    border: 5px solid var(--secondary);
    min-height: 150px;
    max-height: 200px;
    min-width: 350px;
    flex-basis: calc(50% - 1em);
    background-size: 150%; 
    display: flex;
    align-items: flex-end;
    padding: 0 0 20px 0;
    margin: 5em;
    border-radius: 30px;
/* } */

 .flex-item {
    border: 5px solid var(--secondary);
    color: var(--tertiary);
    min-height: 150px;
    max-height: 150px;
    flex-basis: calc(50% - 1em);
    display: flex;
    align-items: flex-end;
    padding: 0 0 20px 0;
    margin: 0.5em;
    text-decoration: none;
    background-blend-mode: soft-light;
    background-size: 150%;
    transition: all 0.5s;
    font-size: 0.9rem;
} 

.pier-overview {
    background-image: url(./images/Mavic\ 3\ pier\ 1.jpeg);

}

.drone-with-pier {
    background-image: url(./images/drone\ with\ pier.jpg);
}

.tahoe {
    background-image: url(./images/tahoe.JPG);
}

.catalina {
    background-image: url(./images/Catalina.JPG);
}

.river-ad {
    background-image: url(./images/River\ ad.JPG);
}

.flex-boxes {
    /* max-height: 150px; */
    display: flex;
    align-items: flex-end;
    padding:0 0 20px 0;
    margin: 5px;
    text-decoration: none;
    border-radius: 50px;
    margin: 10px;
    gap: 10px;

}

span {
    align-items: center;
}

.flex-item:first-child {
    min-height: 400px;
    flex-basis: 100%;
}

.flex-boxes div {
    background-color: var(--primary);
    padding: 10px 10px;
    color: aliceblue;

}

div {display: block;
}

.flex-item h3 {
   font-size: 1.6rem;
}



@media screen and (max-width: 980px) {
    header {
      padding: 0 0 10px 0;
      justify-content:center;
      text-align: center;

    }

    header h1 {
      width: 100%;
      padding: 5px;
      margin-bottom: 10px;
      font-size: 10vw;
    }

    nav {
    justify-content: center;
    }


    .page-section > h2,
    .page-section > div {
      flex: 0 0 100%;
    }

    .page-section > h2 {
      border-right: none;
      border-bottom: 4px solid var(--primary);
      margin-bottom: 20px;
      padding-bottom: 10px;
      text-align: left;
      font-size: 7vw;
    }
  }
  /* media screen formatting for smaller screens */
  @media screen and (max-width: 768px) {
    .flex-item,
    .flex-item:first-child {
      flex-basis: 100%;
    }

    .flex-item:first-child {
      min-height: 150px;
    }

    .hero-banner {
      justify-content: center;
      text-align: center;
    }

    .contact address {
      flex-direction: column;
      align-items: flex-start;
    }
}