* {
    box-sizing: border-box;
}

/* Setting Color Pallete */
:root {
    --primary: rgb(58, 167, 142);
    --secondary: rgb(38, 38, 180);
    --light: (whitesmoke);
    --dark: rgb(50, 60, 65);
    --ash: rgb(223, 228, 230);
}
/* Body formatting */
body {
    margin: 0;
    padding: 0;
    background-color: var(--ash);
    font-family: 'Arial Narrow Bold', sans-serif
  
}

header {
    background-color: var(--primary);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center; 
    padding: 15px 6% 15px 0;
}


 header img {
    max-width: 100px;
    max-height: 100px;
    border-radius: 90%;
 }

header h1 {
    display: block;
    font-size: 4vw;
    color: var(--dark);
    padding: 5px 1% 5px 6%;
    margin: 0px;
    line-height: 1;
}

nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    
}


nav a {
    color: var(--light);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.4rem;
    padding: 15px;
    margin-right: 10px;
    

}

nav a:hover {
    color: black;
    font-style: italic;
    font-weight: 600;

}


.hero-banner {
    background-image:url(../assets/images/Cropped\ Hero\ Banner.jpg);
    background-size: cover;
    background-position: center;
    padding: 2% 6%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    text-align: right;
    min-height: 300px;
}

.hero-banner div {
    flex: 0 0 90%;
}

.hero-banner h2 {
    background-color: var(--primary);
    color: whitesmoke;
    margin: 0;
    padding: 5px 10px;
    font-size: 2rem;
    line-height: 1.2;
    display: inline;
}

main {
    margin-top: 20px;
    margin-bottom: 50px;
}

.indent {
    text-indent: 30px; 
    margin-left: 30px;
    margin-right: 30px;
}

.page-section {
    margin: 25px 0;
    padding: 10px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;

}

.page-section div {
    flex: 0 0 80%;
}

.page-section > h2 {
    flex: 0 0 20%;
    text-align: right;
    padding-right: 15px;
    border-right: 4px solid var(--secondary);
    line-height: 1.1;
    font-size: 3vw;
}

/* .page-section p {
    margin-bottom: 20px;
    margin-left: 30px;
} */

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* flex-wrap: wrap; */
    /* justify-content: center; */
}

/* Work card flex properties */
 .flex-item {
    border: 5px solid var(--secondary);
    color: var(--tertiary);
    min-height: 150px;
    max-height: 150px;
    flex-basis: calc(50% - 1em);
    display: flex;
    align-items: flex-end;
    padding: 0 0 20px 0;
    margin: 2em;
    text-decoration: none;
    background-blend-mode: soft-light;
    background-size: 150%;
    transition: all 0.5s;
    font-size: 0.9rem;
    border-radius: 15px;
} 

/* Work background images */
.pier-overview {
    background-image: url(./images/Mavic\ 3\ pier\ 1.jpeg);
}
.drone-with-pier {
    background-image: url(./images/drone\ with\ pier.jpg);
}
.tahoe {
    background-image: url(./images/tahoe.JPG);
}
.catalina {
    background-image: url(./images/Catalina.JPG);
}
.river-ad {
    background-image: url(./images/River\ ad.JPG);
}

span {
    align-items: center;
}

.flex-item:first-child {
    min-height: 400px;
    flex-basis: 100%;
}


.flex-container div {
    background-color: var(--primary);
    padding: 8px 10px;
    color: var(--ash);

}

div {display: block;
}

.flex-item h3 {
   font-size: 1.6rem;
}


/* Contact flex formatting */
#contact address {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

#contact address a {
    color: var(--dark);
    padding: 5px;
    text-decoration: none;
    font-size: 1.3rem;
    font-style: normal;
    margin: 0 0.2rem 0.1rem;
    display: inline-block;
}


/* Media layouts */
@media screen and (max-width: 980px) {
    header {
      padding: 0 0 10px 0;
      justify-content:center;
      text-align: center;

    }

    header h1 {
      width: 100%;
      padding: 5px;
      margin-left: none;
      margin-bottom: 10px;
      font-size: 10vw;
    }

    nav {
    justify-content: center;
    }


    .page-section > div {
      flex: 0 0 100%;
    }

    .page-section > h2 {
      border-right: none;
      /* border-bottom: 4px solid var(--primary); */
      margin-bottom: 20px;
      padding-bottom: 10px;
      text-align: left;
      font-size: 7vw;
    }
  }
  /* media screen formatting for smaller screens */
  @media screen and (max-width: 768px) {
    .flex-item,
    .flex-item:first-child {
      flex-basis: 100%;
    }

    .flex-item:first-child {
      min-height: 150px;
    }

    .hero-banner {
      justify-content: center;
      text-align: center;
    }

    .contact address {
      flex-direction: column;
      align-items: flex-start;
    }
}